/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* normalize css ends here */
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: "auto";
}

/* The switch - the box around the slider */
select {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 28px;
  float: right;
}
